* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

input, button, textarea {
    font-family: inherit;
}

input:-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button:-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-color: #2d2c33;
}


// Код для блока меню

.block-for-menu {
    margin: 0 auto;
    position: relative;
    top: 2%;
    width: 900px;
    height: 35px;
    background-color: #cbd5e0;
}

.block-menu {
    margin-left: 30px;
}

.block-menu a {
    margin-left: 20px;
    color: #000000;
    font-size: 15px;
}

.block-menu a:hover {
    color: #636b6f;
}

.block-for-style {
    display: flex;
    align-items: center;
    height: 33px;
    justify-content: space-between;
}

.block-for-entry-and-exit {
    display: flex;
    margin-right: 30px;
}

.block-for-entry-and-exit a {
    margin-left: 20px;
}

.block-for-icons-search a {
    color: #282aa2;
    font-size: 16px;
}

.block-for-icons-search i {
    font-size: 13px;
}

.block-for-icons-user a {
    color: #282aa2;
}

.block-for-icons-user a:hover {
    color: midnightblue;
}

.block-for-icons-exit a {
    color: red;
}

.block-for-icons-exit a:hover {
    color: brown;
}


// Код для поиска

.block-main-search {
    display: flex;
    justify-content: center;
    position: relative;
    top: 5%;
}

.block-search-task input {
    width: 500px;
    height: 35px;
    outline: none;
    padding-left: 10px;
    border-radius: 15px;
    margin-bottom: 35px;
}

.block-search-task button {
    width: 100px;
    height: 35px;
    border-radius: 15px;
}

.block-search-task button:hover {
    background-color: #3f60b4;
    color: #cbd5e0;
}

// Код для блока списка

.block-main-task {
    margin: 2% auto;
    width: 900px;
}

.block-for-title-task {
    text-align: center;
    padding: 15px 0;
    border: 1px solid #cbd5e0;
}

.block-for-title-task h1 {
    color: #cbd5e0;
    font-size: 18px;
    font-weight: 600;
}

.block-value-task {
    border: 1px solid #cbd5e0;
}

.block-big-value-task {
    display: flex;
    padding: 15px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #cbd5e0;
}

.block-icons-task-value {
    margin-right: 10px;
}

.block-icons-task-value a {
    margin-right: 15px;
    color: #282aa2;
}

.block-title-task-value h1 {
    color: #cbd5e0;
    font-weight: 600;
}

.block-date-task-value p {
    color: #cbd5e0;
    font-weight: 600;
}

.block-status-task-value p {
    color: #cbd5e0;
    font-weight: 600;
}

.fa-eye {
    color: #cbd5e0;
}

.fa-eye:hover {
    color: #538dd7;
}

.fa-pen {
    color: #cbd5e0;
}

.fa-pen:hover {
    color: #538dd7;
}

.fa-trash {
    color: #cbd5e0;
}

.fa-trash:hover {
    color: #538dd7;
}

.block-create-tasks {
    margin-top: 15px;
    width: 120px;
}

.block-create-tasks a {
    color: #cbd5e0;
    font-size: 15px;
    background-color: #4b71d6;
    padding: 2px 10px 4px 10px;
}

.block-create-tasks a:hover {
    background-color: #3f60b4;
}

.fa-plus {
    font-size: 14px;
}


// Код для блока просмотра списка.

.block-main-look-at-task {
    margin: 0 auto;
    position: relative;
    top: 25%;
    width: 550px;
}

.block-look-task {
    background-color: #cbd5e0;
}

// 1
.block-look-id-task {
    display: flex;
    padding: 19px 10px 19px 20px;
    border-bottom: 1px solid #000000;
}

.block-look-value-id-task-1 {
    width: 50px;
}

.block-look-value-id-task-2 {
    width: 470px;
}

// 2
.block-look-title-task {
    display: flex;
    padding: 19px 10px 19px 20px;
    border-bottom: 1px solid #000000;
}

.block-look-value-title-task-1 {
    width: 100px;
}

.block-look-value-title-task-2 {
    width: 430px;
}

// 3
.block-look-description-task {
    display: flex;
    padding: 19px 10px 19px 20px;
    border-bottom: 1px solid #000000;
}

.block-look-value-description-task-1 {
    width: 100px;
}

.block-look-value-description-task-2 {
    width: 430px;
}

// 4
.block-look-status-task {
    display: flex;
    padding: 19px 10px 19px 20px;
    border-bottom: 1px solid #000000;
}

.block-look-value-status-task-1 {
    width: 100px;
}

.block-look-value-status-task-2 {
    width: 430px;
}

// 5
.block-look-file-task {
    display: flex;
    padding: 19px 10px 19px 20px;
    border-bottom: 1px solid #000000;
}

.block-look-value-file-task-1 {
    width: 100px;
}

.block-look-value-file-task-2 {
    width: 430px;
}

// 6
.block-look-date-task {
    display: flex;
    padding: 19px 10px 19px 20px;
    border-bottom: 1px solid #000000;
}

.block-look-value-date-task-1 {
    width: 100px;
}

.block-look-value-date-task-2 {
    width: 430px;
}


// Код для блока изменения

.block-for-update-task {
    margin-top: 5px;
}

.block-for-update-task button {
    width: 150px;
    height: 24px;
    background-color: #3f60b4;
    color: #ffffff;
}

.block-for-update-task button:hover {
    background-color: #cbd5e0;
    color: #1a202c;
}

.block-look-value-title-task-2 input {
    outline: none;
    padding-left: 5px;
}

// Код для блока добавления списка

.block-create-task-main {
    margin: 0 auto;
    position: relative;
    top: 23%;
    width: 420px;
}

.block-create-task-general {
    padding: 20px 15px;
    background-color: #cbd5e0;
    border-radius: 15px;
}

.block-create-task {
    margin-bottom: 20px;
}

.block-create-task p {
    font-size: 15px;
    padding-bottom: 5px;
}

.block-create-task input {
    width: 390px;
    height: 25px;
    border-radius: 9px;
    outline: none;
    padding-left: 10px;
}

.block-create-task textarea {
    border-radius: 9px;
    outline: none;
    padding-left: 10px;
    max-width: 390px;
}

.block-create-task-button {
    margin-top: 10px;
}

.block-create-task-button button {
    width: 420px;
    height: 27px;
    border-radius: 10px;
    background-color: #282aa2;
    color: #cbd5e0;
    font-weight: 600;
}

.block-create-task-button button:hover {
    color: #1a202c;
    background-color: #cbd5e0;
}


.block-create-task a {
    font-size: 13px;
    color: #000000;
}

.block-create-task a:hover {
    color: #3f60b4;
}

// Код для блока войти

.block-main-for-login {
    margin: 0 auto;
    position: relative;
    top: 45%;
    transform: translate(0%, -50%);
    width: 430px;
}

.block-for-login-value {
    padding: 20px;
    border-radius: 10px;
    background-color: #cbd5e0;
}

.block-h1-for-login h1 {
    text-align: center;
    font-size: 19px;
    padding: 15px 0;
    border-bottom: 1px solid #636b6f;
}

.block-login-tasks {
    margin-top: 25px;
}

.block-login-tasks p {
    font-size: 14px;
    margin-bottom: 5px;
}

.block-login-tasks input {
    width: 390px;
    height: 28px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}

.block-register-a {
    margin: 20px 0 10px 0;
}

.block-register-a a {
    font-size: 14px;
    color: #000000;
}

.block-register-a a:hover {
    color: #3f60b4;
    border-bottom: 1px solid #3f60b4;
}

.block-login-button {
    margin-top: 10px;
}

.block-login-button button {
    width: 432px;
    height: 30px;
    border-radius: 10px;
    background-color: #4b71d6;
    color: #ffffff;
}

.block-login-button button:hover {
    background-color: #3f60b4;
    color: #ffffff;
}

.error-label {
    color: red;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}
