* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

input, button, textarea {
    font-family: inherit;
}

input:-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button:-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-color: #2d2c33;
}


// Код для блока меню

.block-for-menu {
    margin: 20px auto;
    width: 900px;
    height: 35px;
    background-color: #cbd5e0;
}

.block-menu {
    margin-left: 30px;
}

.block-menu a {
    margin-left: 20px;
    color: #000000;
    font-size: 15px;
}

.block-menu a:hover {
    color: #636b6f;
}

.block-for-style {
    display: flex;
    align-items: center;
    height: 33px;
    justify-content: space-between;
}

.block-for-entry-and-exit {
    display: flex;
    margin-right: 30px;
}

.block-for-entry-and-exit a {
    margin-left: 20px;
}

.block-for-icons-user a {
    color: #282aa2;
}

.block-for-icons-user a:hover {
    color: midnightblue;
}

.block-for-icons-exit a {
    color: red;
}

.block-for-icons-exit a:hover {
    color: brown;
}


// Код для блока списка

.block-main-task {
    margin: 1% auto;
    width: 900px;
}

.block-for-title-task {
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #cbd5e0;
}

.block-for-title-task h1 {
    color: #cbd5e0;
    font-size: 18px;
    font-weight: 600;
}

.block-value-task {

    border: 1px solid #cbd5e0;
}

.block-big-value-task {
    display: flex;
    padding: 15px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #cbd5e0;
}

.block-icons-task-value {
    margin-right: 10px;
}

.block-icons-task-value a {
    margin-right: 15px;
    color: #282aa2;
}
